
*.lock
*.lock
*.ide
*.ide
.vs/CET/DesignTimeBuild/.dtbcache
.vs/CET/v15/.suo
.vs/CET/v15/Server/sqlite3/storage.ide
.vs/CET/v15/Server/sqlite3/storage.ide-shm
.vs/CET/v15/Server/sqlite3/storage.ide-wal
CET/bin/Debug/netcoreapp2.0/CET.dll
CET/bin/Debug/netcoreapp2.0/CET.pdb
CET/obj/Debug/netcoreapp2.0/CET.dll
CET/obj/Debug/netcoreapp2.0/CET.pdb
*.pdb
*.dll
*.pdb
*.dll
*.ide-wal
*.ide-shm
*.ide
