@using static CET.Models.AttributesEnum
@model CET.ViewModel.TicketCreateModel

<h1> Create </h1>

<form method="post">
	<select asp-for="App"
			asp-items="@Html.GetEnumSelectList<ApplicationsEnum>()"></select>
	<select asp-for="Urgency"
			asp-items="@Html.GetEnumSelectList<UrgenciesEnum>()"></select>
	<select asp-for="Type"
			asp-items="@Html.GetEnumSelectList<TicketTypesEnum>()"></select>
	<br />
	<br />
	<label>Description</label>
	<p>
		<textarea asp-for="Description"></textarea>
		@*<textarea name="description" rows="4" cols="50"></textarea>*@
	</p>
	<input type="submit" name="save" value="Save" />
</form>